html {
  font-size: 1rem; }

body {
  background-color: #fff4fd; }

.header__contador p {
  color: #ffffff;
  font-size: 0.9rem;
  background-image: linear-gradient(to left, #f7c9f3, #4180f6);
  padding: 3px 0 4px 7px;
  box-shadow: 0 1px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400; }

.crear {
  background: #f7c9f3;
  text-decoration: none;
  color: #110038;
  padding: 9px 26.5px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }

.crear:hover {
  outline-style: dotted; }

.contenedor__nav__temas {
  display: flex; }
  .contenedor__nav__temas p {
    background: #f7c9f3;
    color: #110038;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    width: 167px;
    margin: 0;
    padding: 9px 26.5px;
    text-align: center; }
  .contenedor__nav__temas img {
    border-top: 1px solid #110038;
    border-right: 1px solid #110038;
    border-bottom: 1px solid #110038;
    background: #f7c9f3;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    padding: 13px 15px;
    justify-self: flex-end; }

.contenedor__nav {
  display: inline-block;
  position: relative;
  z-index: 3; }
  .contenedor__nav ul {
    display: none;
    list-style: none;
    width: 167px;
    height: 36px;
    margin: 0;
    padding: 0; }

.contenedor__nav:hover ul,
ul:hover {
  display: block;
  position: absolute; }
