html {
  font-size: 1rem;
}

body {
  background-color: #fff4fd;
}

.header__contador p {
  color: #ffffff;
  font-size: 0.9rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(to left, #f7c9f3, #4180f6);
  padding: 3px 0 4px 7px;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  margin-top: 0;
}

.crear {
  background: #f7c9f3;
  text-decoration: none;
  color: #110038;
  padding: 9px 26.5px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  justify-self: flex-end;
  margin-right: 16px;
}

.crear:hover {
  outline-style: dashed;
  outline-width: 0.9px;
  outline-offset: -4px;
  background: #e6bbe2;
}

.contenedor__nav__temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16.5px;
}

.contenedor__nav__temas p {
  background: #f7c9f3;
  color: #110038;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  width: 131px;
  margin: 0;
  padding: 9px 15.5px;
  text-align: center;
}

.contenedor__nav__temas img {
  border-top: 1px solid #110038;
  border-right: 1px solid #110038;
  border-bottom: 1px solid #110038;
  background: #f7c9f3;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  padding: 13px 15px;
  justify-self: flex-end;
}

.contenedor__nav__temas p:hover {
  outline-style: dashed;
  outline-width: 0.9px;
  outline-offset: -4px;
  background: #e6bbe2;
}

.contenedor__nav__temas img:hover {
  outline-style: dashed;
  outline-width: 0.9px;
  outline-offset: -4px;
  background: #e6bbe2;
}

.contenedor__nav {
  display: inline-block;
  position: relative;
}

.contenedor__nav ul {
  display: none;
  list-style: none;
  width: 167px;
  height: auto;
  margin: 0;
  padding: 0;
}

.contenedor__nav:hover ul,
ul:hover {
  position: absolute;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 10px;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.desplegar:hover ul,
ul:hover {
  display: block;
}

.contenedor__nav li {
  background: #f0f0f0;
  margin: 0;
  padding: 7px 0 7px 16px;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.contenedor__nav li:first-child {
  margin: 0 0 10px 0;
}

.contenedor__nav li:hover {
  background: #fff4fd;
  border: 1px solid #cca6c9;
  -webkit-box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
}

.contenedor__nav li:hover::first-letter {
  text-decoration: underline;
}

.mis-guifos {
  text-decoration: none;
  color: #110038;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  padding: 8px 15px 8px 0;
}

.mis-guifos::first-letter {
  text-decoration: underline;
}

.mis-guifos:hover {
  border-style: dashed;
  border-width: 0.1px;
  border-color: #110038;
}

.mis-guifos:active {
  color: #110038;
  opacity: 50%;
}

.header__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 44px 70.25px 0 70.25px;
}

.header__contenedor .contenedor__botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
